@import './assets/color';

.wrapper {
  height: 100vh;
  background: $navy;
  color: $lightgray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.home-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Login Section
.login-section {
  height: 100vh;
  color: $navy;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card {
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    .img-left {
      width: 45%;
      background-image: url('https://i.ibb.co/XWnBcgj/Untitled-design-2.png');
      background-size: contain;
      background-repeat: repeat-y;
    }
    .card-body {
      padding: 2rem;
      .text-title {
        margin-bottom: 2rem;
      }

      .form-box {
        .form-input {
          position: relative;
          input {
            width: 100%;
            height: 45px;
            padding-left: 40px;
            margin-bottom: 20px;
            box-sizing: border-box;
            box-shadow: none;
            border: 1px solid #00000020;
            border-radius: 50px;
            outline: none;
            background: transparent;
          }
          input::placeholder {
            color: $orange;
            padding-left: 0px;
          }
          input:focus,
          input:valid {
            border: 2px solid $blue;
          }
        }
        button[type='submit'] {
          margin-top: 10px;
          border: none;
          cursor: pointer;
          border-radius: 50px;
          background: $blue;
          color: $lightgray;
          font-size: 90%;
          font-weight: bold;
          letter-spacing: 0.1rem;
          transition: 0.5s;
          padding: 12px;
        }
        button[type='submit']:hover {
          background: $blue;
        }
      }
    }
  }
}
